.mage {
       padding:15px 8px 15px 25px; 
       width: 600px;}

.header{
       margin-left: 30px;
       margin-top: 10px;}


.input_new_product{
       margin-top: 1%;
       width: 350px;}



body{background: #F4F4F4;}
html {overflow-x: hidden;}